
@keyframes rainbow {
    0%{color: orange;}
    10%{color: purple;}
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}

.rainbow {
    animation: rainbow 1.5s infinite linear forwards;
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.rotate {
    animation: rotate 1s 0s infinite linear forwards;
}


@keyframes ice {
    0%{color: #6495ed;}
    50%{color: white;}
    100%{color: #6495ed;}
}

.ice {
    animation: ice 1s infinite linear forwards;
}

.header {
    color: #9932cc;
}

.firstList {
    color: #6495ed;    
}

.secondList {
    color: white;
}
/*
.button {

}
*/
body {
    background-image: url("chaos.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    font-family: "Comic Sans MS";
}
